/* ----- ALL ----- */
body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px;
    /* color: #000; */
    color: var(--Black-color);
    background: #D6DDD2 url("../img/bg.png") left top repeat;
    --TitleGreen-color: #5F755E;
    --Gray-color: #999;
    --Black-color: #333;
    --TitleYellow-color: #D3BD84;
    --Error-color: #D63900;

}

.container {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 100px;
    margin-top: 160px;
    position: relative;
}

h1.webtitle {
    display: block;
    width: 337px;
    height: 95px;
    text-indent: -9999px;
    background: transparent url("../img/logo.png") left top no-repeat;
    margin: 0;
    margin-left: -168px;
    position: absolute;
    top: 0;
    left: 50%;
}

h2 {
    color: #333;
    font-size: 1.4em;
    line-height: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.form-group {
    padding: 8px 15px;
}

/* Footer ---------------------*/
.Footer {
    color: #666;
    font-size: 0.8em;
    line-height: 1.8em;
    text-align: left;
    margin-top: 30px;
}

.clear {
    clear: both;
}

/* ======修改====== */
.btn.btn-lg.btn-success {
    background-color: var(--TitleGreen-color);
    border: var(--TitleGreen-color);
    font-weight: 700;
}

.btn.btn-lg.btn-success:hover {
    background-color: var(--TitleYellow-color);
}

.createAccount {
    /* margin-top: 20px; */
    padding-top: 35px;

}

.createAccount>a {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--TitleGreen-color);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/* ===新增申請燈箱=== */

#newAccount .modal-content {
    border-radius: 30px;
}

#newAccount .modal-header {
    border: none;
}

#newAccount .modal-header .close {
    width: 32px;
    height: 32px;
    font-size: 32px;
    border: 2px solid var(--Gray-color);
    border-radius: 50%;
    line-height: 0px;
}

#newAccount .modal-header .modal-title {
    color: var(--TitleGreen-color);
    font-size: 36px;
    letter-spacing: 18px;

}


#newAccount .remind {
    margin: 0 auto;
    color: var(--Black-color);
    /* display: inline-block; */
    width: 600px;

}

#newAccount .remind p:nth-child(n+3) {
    /* display: block; */
    display: inline-block;
}

#newAccount .remind p:first-child {
    color: var(--Error-color);
    /* display: block; */

}